<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a new medication</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="header-bar">
        <ul>
            <li>
                <a href="/userprofile"> Profile</a>
            </li>
            <li>
                <a href="/login" class="profile">Logout</a>
            </li>
        </ul>
    </div>
    <h1>Add a New Medication</h1>
  </body>
</html>
