<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Doctors View</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>
    <div class="header-bar">
        <ul>
            <li>Dr. Gregory House <a class="profile doctor" href="#">&nbsp;</a></li>
        </ul>
    </div>
      <div id="doctor-wrapper">
        <nav id="nav-list">
            <div>
                <ul>
                    <li class="patient-selector active">Patients</li>
                    <li class="refill-selector">Refills</li>
                    <li class="authorization-selector">Authorization</li>
                </ul>
            </div>
        </nav>
        <div class="patientT info-section active">
            <form action="/doctorsSearch" class="" id="patientSearchForm" method="post" name="patientSearchForm">
                <input name="searchBar" placeholder="Search for patients..." type="text"> <button name="button" type="submit">Search</button>
            </form>
            <div id="patientsResults">
              <div class="patientsdoc medication">
                <span>Barbara Johnson</span>
                <button type="button" name="button">get details</button>
              </div>
              <div class="patientsdoc medication">
                <span>Ted Cruz</span>
                <button type="button" name="button">get details</button>
              </div>
              <div class="patientsdoc medication">
                <span>Esther Johnson</span>
                <button type="button" name="button">get details</button>
              </div>
              <div class="patientsdoc medication">
                <span>Ethel Wakemyer</span>
                <button type="button" name="button">get details</button>
              </div>
              <div class="patientsdoc medication">
                <span>Susie Homemaker</span>
                <button type="button" name="button">get details</button>
              </div>
              <div class="patientsdoc medication">
                <span>Martha Homewreaker</span>
                <button type="button" name="button">get details</button>
              </div>
              <div class="patientsdoc medication">
                <span>Bob</span>
                <button type="button" name="button">get details</button>
              </div>
            </div>
            <div class="refillsResults"></div>
            <div class="authorizationResults"></div>
            <script src="app.js">
            </script>
        </div>
          <div class="refillsT info-section">
            <div class="refillsdoc medication">
              <span>Refill needed for Barbara Johnson</span>
              <button type="button" name="button">get details</button>
            </div>
            <div class="refillsdoc medication">
              <span>Refill needed for Mighty Joe Young</span>
              <button type="button" name="button">get details</button>
            </div>
            <div class="refillsdoc medication">
              <span>Refill needed for Barbara Johnson</span>
              <button type="button" name="button">get details</button>
            </div>

          </div>
          <div class="authorizationT info-section">
            <div class="authdoc medication">
              <span>Authorization needed for Barbara Johnson</span>
              <button type="button" name="button">get details</button>
            </div>
              <p></p>
          </div>
    </div>

      <script>

          $('.patient-selector').click( function() {
              $('.patientT').addClass('active');
              $('.refillsT').removeClass('active');
              $('.authorizationT').removeClass('active');

              $('.patient-selector').addClass('active');
              $('.refill-selector').removeClass('active');
              $('.authorization-selector').removeClass('active');
          });

          $('.refill-selector').click( function() {
              $('.patientT').removeClass('active');
              $('.refillsT').addClass('active');
              $('.authorizationT').removeClass('active');

              $('.patient-selector').removeClass('active');
              $('.refill-selector').addClass('active');
              $('.authorization-selector').removeClass('active');
          });

          $('.authorization-selector').click( function() {
              $('.patientT').removeClass('active');
              $('.refillsT').removeClass('active');
              $('.authorizationT').addClass('active');

              $('.patient-selector').removeClass('active');
              $('.refill-selector').removeClass('active');
              $('.authorization-selector').addClass('active');
          });

      </script>
  </body>
</html>
