<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Doctors View</title>
  </head>
  <body>
    <nav>
      <ul>
        <a href="#" id="patientsTab"><li>Patients</li></a>
        <a href="#"><li>Refills</li></a>
        <a href="#"><li>Authorization</li></a>
      </ul>
    </nav>
    <div class="patientT"
    <form class="" action="/doctorsSearch" method="post" id="patientSearchForm">
      <input type="text" name="searchBar"  placeholder="Search for patients...">
      <button type="submit" name="button">Search</button>
    </form>
    <div id="patientsResults">

    </div>
    <div class="refillsResults">

    </div>
    <div class="authorizationResults">

    </div>
    <script src="app.js"></script>
  </body>
</html>
