<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Doctors View</title>
  </head>
  <body>
    <nav>
      <ul>
        <a href="#"><li>Patients</li></a>
        <a href="#"><li>Refills</li></a>
        <a href="#"><li>Authorization</li></a>
      </ul>
    </nav>
    <form class="" action="index.html" method="post">
      <input type="text" name="" placeholder="Search for patients...">
      <button type="submit" name="button">Search</button>
    </form>
    <div class="patientsResults">

    </div>
    <div class="refillsResults">

    </div>
    <div class="authorizationResults">

    </div>
  </body>
</html>
