<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    </head>
    <body>

        <div class="home-wrapper">
            <div id="main-header">
                <h3>MedApp</h3>
            </div>

            <div class="main-content">
                <div class="bkgd-overlay"></div>
                <div class="title">
                    <h1>Manage Your Medicine All in One Place</h1>
                    <p>Get reminders to take your medicine and get recommendations on living a healthy lifestyle.</p>
                    <a href="../signup" class="register-button">Register Now</a>
                    <a href="login.html" class="login-button">Login</a>
                </div>
            </div>

            <div class="doctor-content">
                <h2>Are you a doctor?</h2>
                <a href="#" class="manage-button">Manage Your Patients</a>
            </div>

        </div>

    </body>
</html>
