<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Settings</title>
  </head>
  <body>
    <span class="SettingsHeader"> Settings</span>
    <div class="settingsForm">
      <div class="notificationsForm">
        <input type="checkbox" name="alexaNotification" value="">Alexa
        <br>
        <input type="checkbox" name="emailNotification" value="">Email
        <br>
        <input type="checkbox" name="textmessNotification" value="">Text Message
        <br>
        <input type="text" name="phoneNumber" placeholder="Type phone number here">
        <br>
      </div>
      <div class="updateCreds">
<input type="text" name="oldUserName" placeholder="Current Username">
<br>
<input type="text" name="newUserName" placeholder="New Username">
<br>
<input type="text" name="oldPassword" placeholder="Current Password">
<br>
<input type="text" name="newPassword" placeholder="newPassword">
      </div>
      <button type="submit" name="button">Save Settings</button>
    </div>
  </body>
</html>
