<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Settings</title>
  </head>
  <body>
  <a href="#" class="back-button">< Back</a>
    <div class="settingsForm">
    <h1 class="SettingsHeader">Settings</h1>
      <div class="notificationsForm">
        <h3>Notifications</h3>
        <p class="notification-desc">Set your notification settings to get reminders to take your medication from different devices.</p>
        <input type="checkbox" name="alexaNotification" value="">Alexa
        <br>
        <input type="checkbox" name="emailNotification" value="">Email
        <br>
        <input type="checkbox" name="textmessNotification" value="" id="textMsg">Text Message
        <br>
        <div class="phone">What's your phone number? <input type="text" name="phoneNumber"></div>
        <br>
      </div>
      <div class="updateCreds">
      <h3>Profile Info</h3>
<input type="text" name="oldUserName" placeholder="barbara1947@aol.com">
<br>
<input type="text" name="oldPassword" placeholder="Current Password">
<br>
<input type="text" name="newPassword" placeholder="New Password">
      </div>
      <button type="submit" name="button" class="save-button">Save Settings</button>
    </div>

    <script>

    $('#textMsg').click( function() {
        $('.phone').toggleClass('show');
    });

    </script>
  </body>
</html>
