<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="styles.css">
    <script src="../public/app.js" charset="utf-8"></script>
  </head>
  <body>
<nav>
  <div class="iconList">
    <a href="#">
      <div class="icon">

    </div>
    </a>
    <a href="#">
      <div class="icon">

    </div>
    </a>
    <a href="#">
      <div class="icon">

    </div>
    </a>
  </div>
</nav>
<div class="medicationCalendarScroll">
<div class="daysOfWeek">
<a href="#" id="monday"><span>M</span></a>
</div>
<div class="daysOfWeek">
<a href="#"><span>T</span></a>
</div>
<div class="daysOfWeek">
<a href="#"><span>W</span></a>
</div>
<div class="daysOfWeek">
<a href="#"><span>Th</span></a>
</div>
<div class="daysOfWeek">
<a href="#"><span>F</span></a>
</div>
<div class="daysOfWeek">
<a href="#"><span>S</span></a>
</div>
<div class="daysOfWeek">
<a href="#"><span>Su</span></a>
</div>
</div>
<div class="medication">
<span class="drugName">Drug Name</span>
<br>
<span class="drugInfo">Drug Info</span>
</div>
<div class="medication">

</div>
<div class="medication">

</div>
<div class="medication">

</div>
<div class="medication">

</div>
  </body>
</html>
