* { box-sizing: border-box; margin: 0 auto; }
img {   max-width: 100%; }

body {
    margin:0;
    font-family: 'roboto';
}

/* LOGIN/SIGN UP
------------------------------------------------------- */

.login-screen-wrapper {
    width:100%;
    height:100vh;
    background:url('images/grandma.jpg');
    background-size: cover;
    background-position: right;
}

.login-bkgd-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(34, 80, 95, 0.87);
}

h1.login {
    margin:0;
    color: #fff;
    font-size: 65px;
    font-weight: 300;
    margin-bottom: 15px;
}

.login-box {
    text-align: center;
    padding-top: 15vh;
    width:80%;
    margin:0 10%;
    position: relative;
}

.login-box input, .login-box button {
    display: block;
    width:100%;
    margin: 13px 0;
    box-sizing: border-box;
}

.login-box button, .signup-box button {
    margin:auto;
    background: #FFA64B;
    color: #fff;
    border:none;
    font-weight: 700;
    text-transform: uppercase;
    padding:15px 10px;
    font-size: 18px;
    letter-spacing: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.login-box input {
    padding:8px;
    font-size: 18px;
}

.other-link a {
    color: #fff;
    opacity: 0.6;
    margin-top:20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
    text-align: center;
}

.other-link a:hover {
    opacity: 1.0;
}

.signup-screen-wrapper {
    width:100%;
    height:auto;
    background:url('images/grandma.jpg');
    background-size: cover;
    background-position: right;
    position: relative;
}

.signup-screen-wrapper .login-box {
    position: relative;
    padding-top:60px;
    padding-bottom: 15px;
}

.signup-box {
    width:90%;
    margin:0 5%;
}

.signup-box input, .signup-box label, .signup-box button {
    display: block;
    width:100%;
    margin: 13px 0;
    box-sizing: border-box;
}

.signup-box input {
    margin:5px 0 0 0;
    border: solid 1px #222;
    padding:8px;
    font-size: 18px;
}

.signup-box label {
    margin:20px 0 0 0;
    font-weight: 700;
}

.login-box img {
    width:100%;
    max-width:500px;
}

.login-box input.radio, .signup-box input.radio {
    display: inline-block;
    width:auto;
}

@media only screen and (max-width:720px) {
    .login-screen-wrapper {
        background-image:url('images/grandma-mobile.jpg');
    }
}

@media only screen and (min-width:720px) {
    .login-box, .signup-box {
        width:40%;
        margin:0 30%;
    }

    .signup-screen-wrapper .login-box {
        width:90%;
        margin:0 5%;
    }
}


/* HOME
------------------------------------------------------- */

#main-header {
    width: 100%;
    margin: 0;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

#main-header h3 {
    text-align:center;
    color:rgba(34, 80, 95, 1.0);
}

.main-content {
    background:url('images/grandma.jpg');
    background-position: right;
    background-size: cover;
    padding: 100px 0 50px;
    position: relative;
    box-sizing: border-box;
}

.title {
    position: relative;
    width:80%;
    margin:0 10%;
    text-align: center;
}

.title h1, .title p, .title a.register-button, .title a.login-button {
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeIn 1s ease 1;
    animation-fill-mode: forwards;
}

.title h1 {
    animation-delay: 0.5s;
}

.title p {
    animation-delay: 0.7s;
}

.title a.register-button {
    animation-delay: 0.9s;
}

.title a.login-button {
    animation-delay: 1.1s;
}

@keyframes fadeIn {
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.title h1, .title h2, .title p, .title a {
    color: #fff;
    text-align: center;
}

.title p {
    line-height: 1.5em;
}

.title a {
    text-decoration: none;
}

.bkgd-overlay {
    background: rgba(34, 80, 95, 0.87);
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}

.register-button, .login-button {
    padding:12px 10px;
    border:solid 3px #fff;
    border-radius: 3px;
    width:200px;
    display: block;
    max-width: 250px;
    margin: auto;
    margin-bottom: 12px;
}

a.register-button {
    background:#FFA64B;
    border-color: rgba(255,255,255,0.0);
}

.manage-button {
    padding:12px 10px;
    border:solid 3px #fff;
    color: #fff;
    border-radius: 3px;
    width:200px;
    display: block;
    max-width: 250px;
    margin: auto;
    margin-bottom: 12px;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
}

.doctor-content {
    background: #14568D;
    padding:30px 0 50px 0;
}

.doctor-content h2 {
    text-align: center;
    color: #fff;
}

@media only screen and (min-width:980px) {
    .title {
        max-width: 400px;
    }

    .title, .title h1, .title h2, .title p {
        text-align: left;
    }

    .register-button, .login-button {
        margin-left: 0;
    }

    .bkgd-overlay {
        background:rgba(34, 80, 95, 0.6);
    }

    .main-content {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    #main-header h3 {
        text-align: left;
        padding-left: 10%;
    }
}

@media only screen and (max-width:720px) {
    .main-content {
        background-image:url('images/grandma-mobile.jpg');
    }
}

/* SETTINGS
------------------------------------------------------- */

.back-button {
    width:100%;
    color: rgba(255, 255, 255, 0.63);
    background:#14568D;
    display: block;
    padding: 15px;
    font-size: 15px;
    text-decoration: none;
    box-sizing: border-box;
    background: rgb(38,126,181);
    background: -moz-linear-gradient(left, rgba(38,126,181,1) 0%, rgba(64,172,220,1) 100%);
    background: -webkit-linear-gradient(left, rgba(38,126,181,1) 0%,rgba(64,172,220,1) 100%);
    background: linear-gradient(to right, rgba(38,126,181,1) 0%,rgba(64,172,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267eb5', endColorstr='#40acdc',GradientType=1 );
}

.SettingsHeader {
    font-weight: 700;
    font-size: 40px;
}

.settingsForm {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.notificationsForm {
    font-size: 18px;
}

.notificationsForm h3, .updateCreds h3 {
    text-transform: uppercase;
    color: #14568D;
    font-size: 27px;
}

.notification-desc {
    font-size: 18px;
    color:#777;
    line-height: 1.4em;
}

.phone {
    display: none;
    font-size: 16px;
    color:#777;
}

.phone.show {
    display: block;
}

.settingsForm input {
    margin-bottom: 10px;
}

.settingsForm input, .updateCreds input {
    border: solid 1px #000;
    font-size: 16px;
    box-sizing: border-box;
}

.updateCreds input {
    margin-bottom: 15px;
    padding:10px;
    width: 100%;
}

.save-button {
    margin:auto;
    background: #FFA64B;
    color: #fff;
    border:none;
    font-weight: 700;
    text-transform: uppercase;
    padding:15px 10px;
    font-size: 18px;
    letter-spacing: 3px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

@media only screen and (min-width:980px) {
    .settingsForm {
        max-width: 600px;
    }
}


/* USER PROFILE
------------------------------------------------------- */

.header-bar {
    background-color: #14568D;
    background-color: #40ACDC;
    text-align: right;
    padding:10px;
    box-shadow: 0 1px 12px 2px rgba(0,0,0,0.4);
    background: rgb(38,126,181);
    background: -moz-linear-gradient(left, rgba(38,126,181,1) 0%, rgba(64,172,220,1) 100%);
    background: -webkit-linear-gradient(left, rgba(38,126,181,1) 0%,rgba(64,172,220,1) 100%);
    background: linear-gradient(to right, rgba(38,126,181,1) 0%,rgba(64,172,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267eb5', endColorstr='#40acdc',GradientType=1 );
}

.header-bar ul {
    margin: 0;
    padding: 0;
}

.header-bar li {
    list-style: none;
    display: inline-block;
}

.header-bar > ul li a {
    padding:13px 25px;
    border-radius: 50px;
    background:rgba(255,255,255,0.1);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 13px;
    display: block;
    text-decoration: none;
    transition: all ease 0.3s;
}

.header-bar > ul li a:hover {
    background: rgba(255,255,255,0.3);
}

.daysOfWeek {
    display: inline-block;
    cursor: pointer;
}

.daysOfWeek a {
    text-decoration: none;
    color: #000;
    padding:20px 25px;
    background:rgba(0,0,0,0.1);
    display: block;
    transition: all ease 0.3s;
    margin:10px 0;
    font-size: 18px;
}

.daysOfWeek a:hover {
    background:rgba(0,0,0,0.2);
}

.daysOfWeek a.active {
    background:#FFA64B;
    color: #fff;
    padding:25px 30px;
    margin:0;
}

#medications-section {
    display: inline-block;
    width:70%;
    background:#f1f1f1;
    min-height: 100vh;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.4);
}

#medications-section h1 {
    width:80%;
    margin: auto;
    margin-top:20px;
    text-align: center;
    box-sizing: border-box;
    font-size: 50px;
}

.medicationCalendarScroll {
    text-align: center;
    padding: 15px 0;
}

.header-bar > ul li a.profile {
    background-image: url(images/grandma-mobile.jpg)!important;
    background-size: cover!important;
    box-sizing: border-box;
    width: 41px;
    padding-left: 0px;
    padding-right: 0px;
}

.medication {
    background:#fff;
    display: block;
    margin:auto;
    width:80%;
    margin-bottom: 15px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 17px -3px rgba(0,0,0,0.2);
    position: relative;
}

.medications-title {
    text-align: center;
}

.medications-title h3 {
    text-align: center;
    margin-top:0;
    color: #666;
}

.drugName {
    font-size: 21px;
}

.drugInfo {
    color: #777;
    font-size: 14px;
}

.refill {
    text-decoration: none;
    width: 150px;
    display: block;
    background: #FFA64B;
    background: #40ACDC;
    text-align: center;
    padding: 8px;
    border-radius: 50px;
    color: #fff;
    margin-top: 10px;
}

.time {
    padding:10px 14px;
    background:rgba(0,0,0,0.1);
    display: inline-block;
    border-radius: 50px;
    cursor: pointer;
    margin:5px 0;
    margin-right: 8px;
}

.time.active {
    background:#53db99;
    color: #fff!important;
}

#profile-section {
    width: 30%;
    float: right;
    background: #14568D;
    box-sizing: border-box;
    height: 100%;
    color: #fff;
    min-height: 100vh;
}

#profile-section h2 {
    margin-bottom: 5px;
}

#profile-section h3 {
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: solid 2px rgba(255,255,255,0.5);
    font-size: 17px;
    margin-top:35px;
}

.contraindicators, .profile-info {
    padding: 20px;
}

.contraindicators {
    background-color: rgba(0,0,0,0.2);
    /*background-color: #FFA64B;*/
}

.contraindicators h3 {
    margin-top:15px!important;
}

.edit-profile {
    margin: 0;
}

.edit-profile a {
    color: rgba(255,255,255,0.3);
    text-decoration: none;
    font-size: 14px;
}

.edit-profile a:hover {
    color: rgba(255,255,255,0.8);
}

.submenu {
    position: absolute;
    right: 0;
    background: #fff;
    padding-top: 61px;
}

.header-bar ul.submenu li {
    display: block;
    color: #000;
}

.header-bar ul.submenu li a {
    display: block;
    color: #000;
    text-align: left;
    padding: 13px;
    width: 150px;
    background: rgba(0,0,0,0.0);
    border-radius: 0!important;
}

.header-bar ul.submenu li a:hover {
    display: block;
    color: #000;
    text-align: left;
    padding: 13px;
    width: 150px;
    background: rgba(0,0,0,0.08);
}

.profile-list-item ul {
    display: none;
}

.profile-list-item:hover ul {
    display: block;
}

@media only screen and (max-width:980px) {
    #medications-section {
        width: 100%;
    }

    #medications-section h1 {
        font-size: 30px;
    }

    .medicationCalendarScroll {
        padding:15px 5%;
    }

    .daysOfWeek {
        width:13%;
    }

    .daysOfWeek a, .daysOfWeek a.active {
        padding:20px 0!important;
        width:100%!important;
        margin:0!important;
    }

    .medication {
        width:90%;
    }

    #profile-section {
        display: none;
    }
}



/* DOCTOR PROFILE
------------------------------------------------------- */

.header-bar li {
    color: #fff;
}

.header-bar li a.profile.doctor {
    background-image: url(images/doctor.jpg)!important;
    display: inline-block;
}

#doctor-wrapper {
    max-width: 800px;
    padding:15px 20px;
    box-sizing: border-box;
    margin: auto;
}

#nav-list ul {
    text-align: center;
    padding: 0;
}

#nav-list li {
    display: inline-block;
    width: 29%;
    padding:10px;
    background:rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all ease 0.3s;
}

#nav-list li:hover {
    background:rgba(0,0,0,0.2);
}

#nav-list li.active {
    background:#FFA64B;
    color: #fff!important;
}

#patientSearchForm {
    text-align: center;
}

#patientSearchForm input {
    width:70%;
    border:solid 2px #ddd;
}

#patientSearchForm button {
    width:20%;
    border:solid 2px rgba(0,0,0,0.0);
    background:#40ACDC;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 1.0;
    transition: all ease 0.3s;
}

#patientSearchForm button:hover {
    opacity: 0.8;
}

#patientSearchForm input, #patientSearchForm button {
    padding:10px;
    outline: none;
}

.info-section {
    display: none;
}

.info-section.active {
    display: block;
}


/*Add Medication Page*/

.addmedsbody {
  background-color: #F1F1F1;
}

.addmedicationSection h1{
  width: 80%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    box-sizing: border-box;
    font-size: 50px;
}

.addmedicationSection button {
  background: #FFA64B;
color: #fff;
border: none;
font-weight: 700;
text-transform: uppercase;
padding: 15px 10px;
font-size: 18px;
letter-spacing: 3px;
border-radius: 3px;
cursor: pointer;
}

.addmedicationSection form {
  width: 40%;
    margin: 0 30%;
    text-align: center;
    padding-top: 15vh;
        position: relative;
}

.medicationNameCard {
  background: #fff;
    display: block;
    margin: auto;
    width: 80%;
    margin-bottom: 15px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 17px -3px rgba(0,0,0,0.2);
}

.dayCard {
  background: #fff;
    display: block;
    margin: auto;
    width: 80%;
    margin-bottom: 15px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 17px -3px rgba(0,0,0,0.2);
}

.medicationdescriptionCard {
  background: #fff;
    display: block;
    margin: auto;
    width: 80%;
    margin-bottom: 15px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 17px -3px rgba(0,0,0,0.2);
}

.medicationdescriptionCard textarea {
  border: none;
  text-align: center;
}

.dayCard
